html {
    background-color : #F0F0F0; /* this is a light grey */
}
 
body {
    background-color : white;
    width : 980px;
    margin : 0 auto;
    font-family : "Gill Sans", sans-serif;
    font-size : 1.2em;
    color : #404040;
}
CSS

div.mydiv {
    margin : 10px,15px,20px,30px;
}
