html {
    background-color : #F0F0F0; /* this is a light grey */
}
 
body {
    background-color : white;
    width : 980px;
    margin : 0 auto;
    font-family : "Gill Sans", sans-serif;
    font-size : 1.2em;
    color : #404040;
    padding-top : 0;
    padding : 10px;
}

a {
    color : #3AA6D0; /* this is a light blue from the color scheme */
    text-decoration : none;
}

h1 {
    font-size : 3em; /* That's BIG! A statement, really */
    color : FF2C00;
}
h2 {
    font-size : 1.5em;
    color : #FF8500;
}
h3 {
    font-size : 1.2em;
    color : #00B945;
}
aside {
    float : left;
    width : 320px;
    margin-right: 20px;
    margin-bottom : 15px;
    background-color : #D0D0D0 ;
    padding : 5px;
    border : 1px solid #A8A8A8;
}

aside h1 {
    font-size : 1.2em;
    margin-top : 0px;
}
 
aside h2 {
    font-size : 1em;
}
aside div {
    padding : 5px;
    background-color : #F0F0F0;
    margin-bottom : 15px;
}

aside ul {
    line-height : 1.8em;
    list-style-type : square;
    color : #FF8500;
}

nav ul {
    list-style-type : none;
    margin : 0px;
    padding : 0;
}
 
nav li {
    display : inline;
}
nav a {
    font-weight : bold;
    color : #0776A0; /* this is the main blue from the color scheme */
}

<ul class="body-list">
.....
</ul>
