html {
    background-color : #F0F0F0; /* this is a light grey */
}
 
body {
    background-color : white;
    width : 980px;
    margin : 0 auto;
    font-family : "Gill Sans", sans-serif;
    font-size : 1.2em;
    color : #404040;
    padding-top : 0;
    padding : 10px;
}

a {
    color : #3AA6D0; /* this is a light blue from the color scheme */
    text-decoration : none;
}

h1 {
    font-size : 3em; /* That's BIG! A statement, really */
    color : FF2C00;
}
h2 {
    font-size : 1.5em;
    color : #FF8500;
}
h3 {
    font-size : 1.2em;
    color : #00B945;
}

aside h1 {
    font-size : 1.2em;
    margin-top : 0px;
}
 
aside h2 {
    font-size : 1em;
}

